.cart_qnty_btn {
	font-size: 17px;
	width: 32px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	cursor: pointer;
	border: 1px solid #e9e4e4;
}

.cart_count {
	font-size: 14px;
	width: 42px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border: 1px solid #e9e4e4;
	border-left: 0;
	border-right: 0;
}
